
/* footer section */
.footer{

    position: absolute;
    top: 4506px;
    left: 0px;
    width: 1920px;
    height: 310px;
    background: transparent url('images/footersection/nopathcopy/nopathcopy.png') 0% 0% no-repeat padding-box;
    opacity: 0.81;
    
}

.footerinsideimage{
    position: absolute;
    top: 4636px;
left: 375px;
width: 1170px;
height: 56px;
background: transparent url('images/footersection/group500/group500.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
